<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page_title_text }}</title>

    <style>
        body {
            font-family: 'DIN', sans-serif; /* Replace 'DIN' with the desired font name */
        }

        h1, h2 {
            font-family: 'DIN', sans-serif; /* Replace 'DIN' with the desired font name */
        }
    </style>
</head>
<body>

    <h1>{{ title_text }}</h1>

    <div>
        <h3>User inputs:</h3>
        <ul>
            <li><strong>Area of interest:</strong> {{ geom }}</li>
            <li><strong>Used Sensors:</strong> {{ sensors }}</li>
            <li><strong>Excluded Sensors:</strong> {{ excluded_sensor }}</li>
            <li><strong>Maximal cloud coverage included:</strong> {{ max_cc }} % </li>

        <ul>

    </div>

    <div>
        <h3> Temporal distribution of acquisitions:</h3>
        <img src="outputs/{{aoi_folder}}/plots/Aquisitions_{{ year }}.png" alt="outputs/{{aoi_folder}}/plots/Aquisitions_{{ year }}.png">    
    </div>

    <div>
        <h3>Landsat Median Composite and Scene count:</h3>
        <img src="outputs/{{aoi_folder}}/plots/scene_count_{{ year }}.png" alt="outputs/{{aoi_folder}}/plots/scene_count_{{ year }}.png">    
    </div>

    <div>
        <h3>Mean and coefficient of variation (cov) by spectral band:</h3>
        <img src="outputs/{{aoi_folder}}/plots/mean_cov_{{ year }}.png" alt="outputs/{{aoi_folder}}/plots/mean_cov_{{ year }}.png">
    </div>

    <div>
        <h3>Median and median absolute deviation (mad) by spectral band:</h3>
        <img src="outputs/{{aoi_folder}}/plots/median_mad_{{ year }}.png" alt="outputs/{{aoi_folder}}/plots/median_mad_{{ year }}.png">
    </div>

</body>
</html>
